*.o
*.a
*.so.*
src/images/*.cpp

src/build/imageconverter
src/core/GrandOrgueDef.h/

po/GrandOrgue.pot.src_lst
resources/GrandOrgue.desktop

bin/
lib/
share/

Makefile
CMakeCache.txt
CMakeFiles
CMakeScripts
cmake_install.cmake
install_manifest.txt
CTestTestfile.cmake
CPackConfig.cmake
CPackSourceConfig.cmake
ImportExecutables.cmake
